/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgb(0, 0, 0);
}

/* Home Section */
.home {
  transition: background 1s ease; /* Smooth background transition */
}



/* Initial state for contact animations */
.contact-container {
  transform: translateY(50px);
  transition: opacity 1s ease, transform 0.8s ease;
}

@keyframes bgappear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* Animate when scrolled to contact */
.contact-container.animate {
  opacity: 1;
  background: repeating-radial-gradient(circle, #ea1d6f, #eb466b 5px, transparent 3px);
  
  background-size: 30px 30px;
}

.contact-container {
  background-image: linear-gradient(
    5deg,
    #eb466b 50%,
    #ea1d6f 60%,
    #eb466b 50%
  );
  background-color: #eb466b;
  background-size: 1em 1em;
  background-repeat: space;
  
  animation: bgappear linear;
  animation-timeline: view();
  animation-range: entry cover 40%;
}
